<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>쓩~</title>
  </head>
  <body>
    <div class="container">
      <div class="main">
        <img src="/image/mailbox" width="186px" height="186px">
        <h1>편지 전송 완료!</h1>
        <a href="/login">
          <input type="button" value="돌아가기" />
        </a>
      </div>
    </div>
    <div class="tag">
      Icons made by
      <a
        href="https://www.flaticon.com/authors/vectors-market"
        title="Vectors Market"
        >Vectors Market</a
      >
      from
      <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>
  </body>
  <style>
    @font-face {
      font-family: 'SEBANG_Gothic_Bold';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: "KyoboHand";
      src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff")
        format("woff");
      font-weight: normal;
      font-style: normal;
    }

    body,
    html {
      overflow-x: hidden;
    }

    body {
      font-family: "KyoboHand";
    }

    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
    }
    
    .main {
      text-align: center;
      margin: auto;
    }

    h1 {
      font-size: 35px;
      font-family: "SEBANG_Gothic_Bold";
    }

    input[type="button"] {
      text-align: center;
      font-family: "KyoboHand";
      font-size: 25px;
      line-height: 10px;
      width: 186px;
      height: 40px;
      border: 2px solid dodgerblue;
      border-radius: 4px;
      margin: 8px 0;
      outline: none;
      padding: 8px;
      box-sizing: 8px;
      transition: 0.3s;
      color: white;
      background-color: dodgerblue;
    }

    input[type="button"]:hover {
      border-color: dodgerblue;
      box-shadow: 0 0 8px 0 dodgerblue;
    }

    .tag {
      position: absolute;
      bottom: 0;
      width: 100vw;
      text-align: center;
    }

    a:link {
      text-decoration: none;
      color: grey;
    }

    a:visited {
      text-decoration: none;
      color: grey;
    }
  </style>
</html>
