<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
  </head>
  <body>
    <div class="main">
      <h1 class="title">코드입력</h1>
      <form action="/login/check" method="post">
        <input type="text" name="code" placeholder="코드" autocomplete="off" />
        <br />
        <input type="submit" value="확인" />
      </form>
    </div>
  </body>
  <style>
    @font-face {
      font-family: "KyoboHand";
      src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff")
        format("woff");
      font-weight: normal;
      font-style: normal;
    }

    body,
    html {
      overflow-x: hidden;
      height: 100%;
    }

    body {
      font-family: "KyoboHand";
      display: flex;
      margin: 0 auto;
      background-color: #feffff;
    }

    .main {
      text-align: center;
      margin: auto;
    }

    .title {
      letter-spacing: 5px;
      font-weight: lighter;
      font-size: 60px;
    }

    input[type="text"] {
      font-family: "KyoboHand";
      text-align: center;
      width: 186px;
      height: 40px;
      border: 2px solid #aaaaaa;
      border-radius: 4px;
      margin: 8px 0;
      outline: none;
      padding: 8px;
      box-sizing: border-box;
      transition: 0.3s;
      font-size: 25px;
    }

    input[type="text"]:focus {
      border-color: dodgerblue;
      box-shadow: 0 0 5px 0 dodgerblue;
    }

    input[type="submit"] {
      text-align: center;
      font-family: "KyoboHand";
      font-size: 25px;
      line-height: 10px;
      width: 186px;
      height: 40px;
      border: 2px solid dodgerblue;
      border-radius: 4px;
      margin: 8px 0;
      outline: none;
      padding: 8px;
      box-sizing: 8px;
      transition: 0.3s;
      color: white;
      background-color: dodgerblue;
    }

    input[type="submit"]:hover {
      border-color: dodgerblue;
      box-shadow: 0 0 8px 0 dodgerblue;
    }
  </style>
</html>
